*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 .row{
     background-color: white;
     border-radius: 30px;
     box-shadow: 12px 12px 27px;
     width: auto;
     height: 37.5rem;
 }
 img{
     width: 130%;
     background-size: contain, cover;
     height: 37.5rem;
     border-top-left-radius: 290px;
     border-bottom-right-radius: 290px;
     border-top-right-radius: 30px;
     border-bottom-left-radius: 30px;
 }
 .login h1{
     font-size: 3rem;
     font-weight: 500;
     margin: auto;
 }
 .inp{
     height: 50px;
     width: 55%;
     outline: none;
     border-radius: 60px;
     box-shadow: -26px -19px 30px -19px rgba(0, 0, 0, 0.45);
     background: radial-gradient(circle, rgb(241, 103, 103) 9%, rgb(241, 234, 93) 61%);
 }
 
 .btn1{
     width: 200px;
     height: 40px;
     border: none;
     border-radius: 60px;
     background-color: rgb(222, 200, 88);
     color: white;
 }
 .btn1:hover{
     background-color:#bb5327 ;
     transition: linear 0.5s;
 }
 .fa-facebook{
     padding: 10px;
     font-size: 30px;
 }
 .fa-facebook:hover{
    color: #3b5998;
 }
 .fa-google{
     padding: 10px;
     font-size: 30px;
 }
 .fa-google:hover{
     color: #ca4646;
  }
 .fa-instagram{
     padding: 10px;
     font-size: 30px;
 }
 .fa-instagram:hover{
     color: #d74ab8;
  }
 .fa-twitter{
     padding: 10px;
     font-size: 30px;
 }
 .fa-twitter:hover{
     color: #a2bfff;
  }
 .fa-envelope{
     padding: 10px;
     font-size: 30px;
 }
  p{
     padding-top: 30px;
     color: rgb(143, 129, 4);
     
  }